{% extends "front_base.html" %}
{% load static %}

{% block title %}
{% spaceless %}
    {% if tag %}
        | Filed under "{{ tag.name }}"
    {% elif untagged %}
        | Untagged
    {% else %}
        | All documents
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
    {% if tag %}
        <div class="text tag-text">
            <h1>{{ tag.name }}</h1>
            <div class="tag-desc">{{ tag.html_description|safe }}</div>
        </div>
    {% endif %}

    {% for status, documents in status_documents.items %}
        {% if documents|length > 0 %}
            <div class="text docs-header"><h3>{{ status.label }}</h3></div>
            {% for document in documents %}
                <div class="text doc-item">
                    {% if document.public or can_see_hidden %}
                        <a class="doc-item-link" href="{% url "pile:retrieve" document.id %}">🔗</a>
                    {% endif %}
                    <a href="{% url "pile:document" document.id %}">
                        <div class="doc-item-text">
                            <h2>{{ document.title }}</h2>
                            <h3>{{ document.author }} {{ document.published }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block meta-og %}
    {% if tag %}
        <meta property="og:title" content="Documents under &quot;{{ tag.name }}&quot;"/>
        <meta property="og:url" content="https://pile.sdbs.cz{% url "pile:tag" tag.id %}"/>
        <meta property="og:description" content="{{ tag.description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{% static "favicon.png" %}"/>
    {% endif %}
{% endblock %}
