{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The /-\ pile{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    {% block meta-og %}
        <title>The /-\ pile</title>
        <meta property="og:title" content="The /-\ Pile"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://pile.sdbs.cz/"/>
        <meta property="og:description"
              content="This is where we upload the stuff we consider important to the larger conceptual and thematic landscape of what we do: confronting apathy, inter-subjectivity, the human right to self-determination, counter-culture and such..."/>
    {% endblock %}
    <meta property="og:image" content="{% static "favicon.png" %}"/>
</head>
<body>

<div id="sidebar">
    <div id="sidebar-head">
        <h1><a href="..">The /-\ pile</a></h1>
    </div>
    <div id="sidebar-taglist">
        <ul>
            <li id="sidebar-taglist-top"><a href="{% url "pile:tag" "*" %}">ALL ({{ document_count }})</a></li>
            {% if untagged_count %}
                <li id="sidebar-taglist-top"><a href="/tag/_">UNTAGGED ({{ untagged_count }})</a></li>
            {% endif %}
            {% for tag, tag_count in tags %}
                {% if tag_count > 0 %}
                    <li><a href="{% url 'pile:tag' tag.id %}">{{ tag.name }} ({{ tag_count }})</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="login">
    <a href="/admin">[login // maintain]</a>
</div>

<script>
    (function () {
        window.counter = 'https://sdbs_pile.goatcounter.com/count'

        var script = document.createElement('script');
        script.async = 1;
        script.src = '//gc.zgo.at/count.js';
        var ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
    })();
</script>
</body>
</html>
