{% extends "front_base.html" %}

{% block title %} | #{{document.id}}: {{ document.title }}{% endblock %}

{% block content %}
    <div class="text document" vocab="https://schema.org/" typeof="CreativeWork" resource="{% url "pile:document" document.id %}">
        <h1 property="name">{{ document.title }}</h1>

        {% if document.author %}
            <h2 property="author">{{ document.author }}</h2>
        {% endif %}

        {% if document.published %}
            <h3>Published: <span property="datePublished">{{ document.published }}</span></h3>
        {% endif %}

        <h3>Type: {{ document.get_media_type_display }}</h3>

        {% if document.tags.count > 0 %}
            <h3 class="doc-taglist">
                <span>Tag</span>
                {% for tag in document.tags.all %}
                    <li>
                        <a href="{% url "pile:tag" tag.id %}" title="{{ tag.description }}">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endfor %}
            </h3>
        {% endif %}

        {% if document.description %}
            <div class="doc-description">
                <span class="doc-description-intro">
                    {% if document.url %}Description{% else %}Content{% endif %}:
                </span>
                <div property="description"> {{ document.html_description | safe }} </div>
            </div>
        {% endif %}

        {% if document.public or can_see_hidden %}
            {% if document.is_local_pdf %}
                <div class="doc-link">
                    <span class="doc-link-intro">Access file as:</span>
                    <a property="url" href="{% url "pile:retrieve" document.id %}">
                        Entry #{{ document.id }} of /-\ pile
                    </a>
                </div>

                <div class="doc-link">
                    <span class="doc-link-intro">Get original document at: </span>
                    <a href="{{ document.url }}">{{ document.url }}</a>
                </div>

                {% if document.urls.count > 0 %}
                    <div class="doc-link-intro">Also see:</div>
                    {% for link in document.urls.all %}
                        <div class="doc-link doc-link-plus">
                            <a href="{{ link.url }}">{{ link.description|default:link.url }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="doc-link">
                    <span class="doc-link-intro">Access file at:</span>
                    <a property="url" href="{{ document.url }}">{{ document.url }}</a>
                </div>

                <div class="doc-link">
                    <span class="doc-link-intro">Get label for file at:</span>
                    <a href="{% url "pile:label" document.id %}">{% url "pile:label" document.id %}</a>
                </div>
                
                {% if document.urls.count > 1 %}
                    <div class="doc-link-intro">Also see:</div>
                    {% for link in document.urls.all|slice:"1:" %}
                        <div class="doc-link doc-link-plus">
                            <a href="{{ link.url }}">{{ link.description|default:link.url }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% else %}
            <div class="doc-link">
                <span class="doc-link-intro">Get label for file at:</span>
                <a href="{% url "pile:label" document.id %}">{% url "pile:label" document.id %}</a>
            </div>

            {% if document.urls.count > 0 %}
                <div class="doc-link-intro">Related URLs:</div>
                {% for link in document.urls.all %}
                    <div class="doc-link doc-link-plus">
                        <a href="{{ link.url }}">{{ link.description|default:link.url }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if document.related.exists %}
            <hr>
            <h2>Related documents</h2>
            <ul>
                {% for related in document.related.all %}
                    <li>
                        <a href="{% url 'pile:document' related.id %}">
                            {% if related.uploaded %}
                                <em>({{ related.uploaded|date:"Y/m/d G:i:s" }})</em>
                            {% endif %}
                            {{ related.title }}

                            <div class="short-doc-desc">
                                {{ related.plain_description }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="#{{document.id}}: {{ document.title }}"/>
    <meta property="og:url" content="https://pile.sdbs.cz{% url "pile:document" document.id %}"/>
    <meta property="og:description" content="{{ document.plain_description }}"/>
    <meta property="og:type" content="article"/>
{% endblock %}