{% extends "front_base.html" %}

{% block content %}
    <div class="text">
        <p class="intro"> This site is the sdbs pile, where we upload the stuff we consider important to the larger
            conceptual and thematic landscape of what we do: "confronting apathy", inter-subjectivity, the human right
            to
            self-determination, counter-culture and such...</p>
        <p class="intro czech">Tohle je hromádka zajímavýho materiálu co něco znamená v kontextu sdbs - budeme sem
            postupně dávat ty nejdůležitější nebo nejzajímavější věci, zatim se o tom ale nikde moc nešiřte.</p>
        <p class="intro sign">/-\</p>
    </div>

    <div class="text recent-additions">
        <h2>Recent additions</h2>
        <ul>
            {% for document in recent_documents %}
                <li>
                    <a href="{% url 'pile:document' document.id %}">
                        {% if document.uploaded %}
                            <em>({{ document.uploaded|date:"Y/m/d G:i:s" }})</em>
                        {% endif %}
                        {{ document.title }}

                        <div class="recent-additions-desc">
                            {{ document.description }}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}