{% extends "front_base.html" %}

{% block title %}: {{ document.title }}{% endblock %}

{% block content %}
    <div class="text document">
        <h1>{{ document.title }}</h1>

        {% if document.author %}
            <h2>{{ document.author }}</h2>
        {% endif %}

        {% if document.published %}
            <h3>Published: {{ document.published }}</h3>
        {% endif %}

        <h3>Type: {{ document.get_media_type_display }}</h3>

        {% if document.tags.count > 0 %}
            <h3 class="doc-taglist">
                <span>Tags:</span>
                {% for tag in document.tags.all %}
                    <li>
                        <a href="{% url "pile:tag" tag.id %}" title="{{ tag.description }}">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endfor %}
            </h3>
        {% endif %}

        {% if document.description %}
            <div class="doc-description">
            <span class="doc-description-intro">
                {% if document.url %}Description{% else %}Content{% endif %}:
            </span>
                <p> {{ document.html_description | safe }} </p>
            </div>
        {% endif %}

        {% if document.public or can_see_hidden %}
            {% if document.is_local_pdf %}
                <div class="doc-link">
                    <span class="doc-link-intro">Access file as:</span>
                    <a href="{% url "pile:retrieve" document.id %}">Entry #{{ document.id }} of /-\ pile</a>
                </div>

                <div class="doc-link">
                    <span class="doc-link-intro">Get original document at: </span>
                    <a href="{{ document.url }}">{{ document.url }}</a>
                </div>
            {% else %}
                <div class="doc-link">
                    <span class="doc-link-intro">Access file at:</span>
                    <a href="{{ document.url }}">{{ document.url }}</a>
                </div>

                <div class="doc-link">
                    <span class="doc-link-intro">Get label for file at:</span>
                    <a href="{% url "pile:label" document.id %}">{% url "pile:label" document.id %}</a>
                </div>
            {% endif %}
        {% else %}
            <div class="doc-link">
                <span class="doc-link-intro">Get label for file at:</span>
                <a href="{% url "pile:label" document.id %}">{% url "pile:label" document.id %}</a>
            </div>
        {% endif %}
        {% if document.related.exists %}
            <hr>
            <h2>Related documents</h2>
            <ul>
                {% for related in document.related.all %}
                    <li>
                        <a href="{% url 'pile:document' related.id %}">
                            {% if related.uploaded %}
                                <em>({{ related.uploaded|date:"Y/m/d G:i:s" }})</em>
                            {% endif %}
                            {{ related.title }}

                            <div class="short-doc-desc">
                                {{ related.plain_description }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block meta-og %}
    <title>The /-\ pile: {{ document.title }}</title>
    <meta property="og:title" content="The /-\ Pile: {{ document.title }}"/>
    <meta property="og:url" content="{% url "pile:document" document.id %}"/>
    <meta property="og:description" content="{{ document.plain_description }}"/>
    <meta property="og:type" content="article"/>
{% endblock %}